<div class="title">
		<a href="/mains"><p>롤체지지</p></a>
    </div>
    <div class="menu_bar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/characters">배치툴</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/synergies">유튜버가이드</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">커뮤니티</a>
        </li>
      </ul>
    </div>
    <div class="link_to">
      <a href="#">LCK 내전으로 펼쳐진 2022 롤드컵 결승 결과는?</a>
    </div>